body {
    background-image: url(Pills_bg.jpg);
    background-repeat: no-repeat;
    width: auto;
    height: 100%;
}

.box {
    margin-top: 80px;
    width: 450px;
    height: 600px;
    background-color: #7c98b3;
    border-radius: 35px;
}
#GridStocks
{
    border-radius:15px;
}